/*
Base Styles & Universal Elements
*/

@font-face {
    font-family: 'Norse';
    font-weight: bold;
    src: url('../fonts/Norse-Bold.otf');
}

:root {
    /*COLORS*/
    --burnt-sienna: #E1774D;
    --burnt-umber: #864027;
    --light-gray: #F7F5F3;
    --light-gray-alt: #E5E7EB;
    --dark-burnt-umber: #330000;
    --almost-white: #fefefe;
    --persian-green: #1B998B;
    
    /*FONTS*/
    --font-primary: 'Poppins', sans-serif;
    --font-alt: 'Norse', sans-serif;

    /*USE CASES*/
    --button-bg: var(--burnt-sienna);
    --button-bg-state: var(--burnt-umber);
    --font-color-base: var(--dark-burnt-umber);
    --link-color: var(--burnt-sienna);
    --link-color-state: var(--burnt-umber);
    --border-radius: 5px;}

html{
    height: 100%;}
    html * {
        box-sizing: border-box;}


body{
    height: min(100%, 100vh);
    background-color: var(--almost-white);
    color: var(--font-color-base);
    font-family: var(--font-primary);
    font-size: 1.125rem;
    line-height: 1.4;}

/*
Re-Used Elements
*/

.logo{
    position: relative;
    padding: 20px;}
    .logo::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--dark-burnt-umber);
        opacity: .7;}
    .logo .inner{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 12px;
        position: relative;
        color: var(--almost-white);
        font-family: var(--font-alt);
        font-size: clamp(32px, 8vw + .5rem, 78px);}
    .logo img{
        width: min(95px, 40%);}


.direct-wrap{}
    .direct-wrap > *:first-child{
        margin-top: 0px;}
    .direct-wrap > *:last-child{
        margin-bottom: 0px;}

button{
    cursor: pointer;
    padding: 12px 20px;
    text-align: center;
    border: initial;
    border-radius: var(--border-radius);
    background-color: var(--button-bg);
    color: #fff;
    font-weight: 700;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;}
    button:hover,
    button:active,
    button:focus{
        background-color: var(--button-bg-state);
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;}

/*
Text Elements
*/

p{
    font-weight: 500;
    margin: 24px 0px;}
    p.large{
        font-size: 1.5rem;
        font-weight: 600;}

a{
    color: var(--link-color);
    font-size: inherit;
    font-weight: inherit;
    text-decoration: none;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;}
    a:hover,
    a:active,
    a:focus{
        color: var(--link-color-state);
        -webkit-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in;}

/*
Content Structuring
*/

main{
    min-height: 100%;
    height: auto;
    display: flex;
    align-items: stretch;}

aside{
    display: flex;
    flex-direction: column;
    width: 38%;
    padding: max(150px, 18vh) 0px 20px;
    background-image: url('../img/mathias-p-r-reding-IEpyWlEEoQ4-unsplash.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;}
    aside p{
        padding: 10px 20px 0px;
        color: var(--almost-white);
        margin: auto 0px 0px;
        text-align: center;}
        aside p a{
            color: inherit;
            text-decoration: underline;}

.main-content{
    display: flex;
    align-items: stretch;
    width: 62%;
    overflow: hidden;
    background-color: var(--light-gray);}
    .main-content .inner{
        --inner-hori-padding: max(45px, 3.2vw);


        display: block;
        width: 100%;
        padding: max(90px, 13vh) var(--inner-hori-padding);}

    .main-content .top-content{
        margin: 0px 0px 40px;
        max-width: 800px;
        width: 100%;}

    .main-content .inner .band-content{
        padding: 20px 0px 24px;
        position: relative;}
        .main-content .inner .band-content::before{
            content: "";
            position: absolute;
            z-index: 0;
            top: 0;
            left: calc(-1 * var(--inner-hori-padding) );
            width: calc(100% + calc(2 * var(--inner-hori-padding) ) );
            height: 100%;
            background-color: #fff;
            -webkit-box-shadow: 0px 5px 15px 1px #DCDDE0; 
            box-shadow: 0px 5px 15px 1px #DCDDE0;
            border: initial;}
        .main-content .inner .band-content > *{
            position: relative;
            z-index: 1;}


@media all and (max-width: 991px) {

    main{
        display: block;}

    aside{
        padding: 30px 0px;
        width: 100%;}

    .main-content{
        width: 100%;}
        .main-content .inner{
            --inner-hori-padding: max(30px, 3.2vw);
            padding: 50px var(--inner-hori-padding);}

}


/*
Form
*/

.fields-contain{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 16px;
    column-gap: 8%;}

fieldset{
    max-width: 700px;
    width: 100%;

    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-block-start: 0;
    padding-block-end: 0;
    padding-inline-start: 0;
    padding-inline-end: 0;
    border: none;
    min-inline-size: min-content;}

legend{
    margin: 0px 0px 20px;
    font-size: 1.5rem;
    font-weight: 600;}

.field{
    position: relative;
}

label{
    display: block;
    font-weight: 600;
    text-transform: uppercase;
    opacity: .8;}

input[type=text],
input[type=email],
input[type=tel],
input[type=password]{
    padding-right: 32px;
    width: 100%;
    border: 2px solid var(--light-gray-alt);
    border-radius: var(--border-radius);
    outline: initial;
    height: 40px;}

    input[type=text]:focus,
    input[type=email]:focus,
    input[type=tel]:focus,
    input[type=password]:focus{
        border-color: var(--persian-green);}
    input[type=text]:valid + .validity::before,
    input[type=email]:valid + .validity::before,
    input[type=tel]:valid + .validity::before,
    input[type=password]:valid + .validity::before{
        content: "\f00c";
        color:  var(--persian-green);
        opacity: 1;}

    input[type=text]:not(:placeholder-shown):invalid + .validity::before,
    input[type=email]:not(:placeholder-shown):invalid + .validity::before,
    input[type=tel]:not(:placeholder-shown):invalid + .validity::before,
    input[type=password]:not(:placeholder-shown):invalid + .validity::before{
        content: "\f00d";
        color:  red;
        opacity: 1;}

    input[type=text].error,
    input[type=email].error,
    input[type=tel].error,
    input[type=password].error{
        border-color: red;}

.validity::before{
    font-family: 'Font Awesome 5 Free';
    font-size: 1.25rem;
    font-weight: 900;
    position: absolute;
    bottom: 5px;
    right: 10px;
    opacity: 0;}

span.error{
    display: block;
    color: red;
    font-size: .875rem;}

form button{
    margin: 32px 0px 0px;}


@media all and (max-width: 576px) {

    .fields-contain{
        grid-template-columns: 1fr;}

}